/******************************************************************************

graphs.css
Tessa Ridderikhoff
10759697
June 2018

This script contains the css file for the styling of index.html, on which 
several svg's with graphs can be viewed. 

******************************************************************************/

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
}

/*tooltips*/
.d3-tip {
	background: rgba(255, 255, 255, 0.8);
	opacity: 0.5;
	border-radius: 5px;
}

/*countries in world map*/
.country {
	stroke-width: 0.05;
	stroke: white;
}

.country:hover {
	stroke-width: 0.2;
	stroke: black;
}

/*dropdown scatterplot*/
.xSelect {
  z-index: 1;
  position: absolute;
  left: 800px;
  top: 330px;
}

/*axes for the scatterplot*/
.ticks {
  font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*title scatterplot*/
.scattertitle {
  font-size: 30px;
  color: grey;
}

/*label calorie-node Sankey*/
.caloriestitle {
  font-size: 20px;
  color: grey;
}

/*title Sankey diagram*/
.graphtitle {
  font-size: 30px;
  color: grey;
}

/*node of Sankey*/
.node {
  stroke: black;
  stroke-width: 0.5px;
}

/*title slider*/
.yearInfo {
	font-size: 15px;
}

/*axes-selection title*/
.axisSelect {
  font-weight: bold;
}

/*legend circles*/
.legendCircles {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}