body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 11px;
}

.d3-tip {
	background: rgba(255, 255, 255, 0.8);
	opacity: 0.5;
	border-radius: 5px;
}

.ticks {
  font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.country {
	stroke-width: 0.05;
	stroke: white;
}

.country:hover {
	stroke-width: 0.2;
	stroke: black;
}

.xSelect {
  z-index: 1;
  position: absolute;
  left: 800px;
  top: 330px;
}

.scattertitle {
  font-size: 30px;
  color: grey;
}

.caloriestitle {
  font-size: 20px;
  color: gray;
}

.graphtitle {
  font-size: 30px;
  color: gray;
}

.thirdNode {
  stroke: black;
  stroke-width: 0.5px;
}

.secondNode {
  stroke: black;
  stroke-width: 0.5px;
}

.calRect {
  stroke: black;
  stroke-width: 0.5px;
}

.meatNode {
  stroke: black;
  stroke-width: 0.5px;
}

.grainsRect {
  opacity: 1;
}

.meatRect {
  opacity: 1;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.yearInfo {
	font-size: 15px;
}

.button rect {
  stroke: black;
  stroke-width: 2px;
  fill: lightblue;
}

.axisSelect {
  font-weight: bold;
}

.legendCircles {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.d/*ataPoints {
  stroke: black;
  stroke-width: 0.5px;
}*/